/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v49-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/roboto-v49-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v49-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/roboto-v49-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*, *:after, *:before {box-sizing: border-box}
body {
  font-family: Roboto;
  margin: 40px auto;
  max-width: 760px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 20px;
}
body {
  /* Standard property */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5 {line-height: 1.2}
a {color: #07c}
hr {margin: 25px 0}
table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  padding-bottom: 25px;
}
td, th, hr {border-bottom: 1px solid #ddd}
table {font-size: 16px}
td, th {
  padding: 5px;
  vertical-align: bottom;
}
pre {
  white-space: pre-wrap;
  border: 1px green solid;
  border-radius: 6px;
  padding: 8px;
}
.row {
  display: block;
  width: auto;
  min-height: 1px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .c {float: left}
table, .g2, .g3, .g3-2, .m2, .m3, .m3-2 {width: 100%}
@media (min-width: 768px) {
  .g2 {width: 50%}
  .m2 {margin-left: 50%}
  .g3 {width: 33.33%}
  .g3-2 {width: 66.66%}
  .m3 {margin-left: 33.33%}
  .m3-2 {margin-left: 66.66%}
}
